<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">MovieApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/add-movie">Add a Movie</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/my-bookings">My Bookings</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [hidden]="user$ | async">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search-term" [formControl]="searchTerm" />
        <div class="results">
          <div *ngFor="let movie of results">
            <a (click)="loadMovieDetail(movie.id)">{{movie.name}}</a>
          </div>
        </div>
      </div>
      <span class="navbar-text" *ngIf="(user$ | async) as user"> 
        Welcome {{ user.username}}!
        <a (click)="logout()">log out</a>
      </span>
    </div>
  </nav>
