<h1>MovieApp</h1>
<hr/>
<table *ngIf="myBookings.length > 0">
    <tr>
        <th>Movie</th>
        <th>Theatre</th>
        <th>Price</th>
        <th>Qty</th>
    </tr>
    <tr *ngFor="let booking of myBookings">
        <td>{{booking.movie}}</td>
        <td>{{booking.theatre}}</td>
        <td>{{booking.price}}</td>
        <td>{{booking.qty}}</td>
    </tr>
</table>
<hr/>
<div 
    *ngFor="let movie of movies" 
    [class.topRated]="movie.rating==5"
>
    <div class="title" [ngStyle]="{'color': movie.released ? 'brown' : 'black'}">{{movie.name}}</div>
    <div>{{movie.duration}} mins</div>
    <div class="desc">{{movie.description}}</div>
    <div *ngIf="movie.rating > 1">{{movie.rating}}</div>
    <div>INR {{movie.ticket_price}}</div>
    <div>
        <button (click)="rateUp(movie)">&uarr;</button>
        <button (click)="rateDown(movie)">&darr;</button>
    </div>
    <table>
        <tr *ngFor="let theatre of movie.theatres">
            <td>{{theatre.name}}</td>
            <td>INR{{theatre.ticket_price}}</td>
            <td><button (click)="book(movie,theatre)">book</button></td>
        </tr>
    </table>
    <hr/>
</div>
