/* You can add global styles to this file, and also import other style files */
button {
    cursor: pointer;
}

body {
    margin: 0 auto;
    width: 900px;
    padding: 0 20px;
}

td {
    background-color: lightgray;
    padding: 5px;
    border: 1px solid gray;   
}